<% content_for :title, "Login" %>
<h1>Login</h1>

<%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form_control' %>
    <br/>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form_control' %>
    <br/>
    <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>